<#import "parts/common.ftlh" as c>

<@c.page>
<div class="form-row">
    <div class="form-group col-md-6">
        <form method="get" action="/main" class="form-inline">
            <input type="text" name="filter" class="form-control" value="${filter?ifExists}" placeholder="Введите ФИО или номер телефона">
            <button type="submit" class="btn btn-primary ml-2">Найти</button>
        </form>
    </div>
</div>

<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Добавить новую запись
</a>
<div class="collapse <#if phone??>show</#if>" id="collapseExample">
    <div class="form-group mt-3">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="text" class="form-control ${(surnameError??)?string('is-invalid', '')}"
                       value="<#if phone??>${phone.surname}</#if>" name="surname" placeholder="Введите фамилию человека" />
                <#if surnameError??>
                    <div class="invalid-feedback">
                        ${surnameError}
                    </div>
                </#if>
            </div>
            <div class="form-group">
                <input type="text" class="form-control ${(nameError??)?string('is-invalid', '')}"
                       value="<#if phone??>${phone.name}</#if>" name="name" placeholder="Введите имя человека" />
                <#if nameError??>
                    <div class="invalid-feedback">
                        ${nameError}
                    </div>
                </#if>
            </div>
            <div class="form-group">
                <input type="text" class="form-control ${(patronymicError??)?string('is-invalid', '')}"
                       value="<#if phone??>${phone.patronymic}</#if>" name="patronymic" placeholder="Введите отчество человека" />
                <#if patronymicError??>
                    <div class="invalid-feedback">
                        ${patronymicError}
                    </div>
                </#if>
            </div>
            <div class="form-group">
                +7 <input type="text" class="form-control"
                       value="<#if phone??>${phone.worknum}</#if>" name="worknum" placeholder="Введите рабочий номер телефона">
                <#if worknumError??>
                    <div class="invalid-feedback">
                        ${worknumError}
                    </div>
                </#if>
            </div>
            <div class="form-group">
                +7 <input type="text" class="form-control"
                       value="<#if phone??>${phone.mobilenum}</#if>" name="mobilenum" placeholder="Введите мобильный номер телефона">
                <#if mobilenumError??>
                    <div class="invalid-feedback">
                        ${mobilenumError}
                    </div>
                </#if>
            </div>
            <div class="form-group">
                +7 <input type="text" class="form-control"
                       value="<#if phone??>${phone.homenum}</#if>" name="homenum" placeholder="Введите домашний номер телефона">
                <#if homenumError??>
                    <div class="invalid-feedback">
                        ${homenumError}
                    </div>
                </#if>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Добавить</button>
            </div>
        </form>
    </div>
</div>

<div class="card-columns">
    <#list phones as phone>
    <div class="card border-secondary my-3">
        <div class="card-header"><img src="/static/phoneuser.png" class="card-img-left"> ${phone.surname} ${phone.name} ${phone.patronymic}</div>
        <div class="card-body">
            <p class="card-text">
                +7 ${phone.worknum}<br />
                +7 ${phone.mobilenum}<br />
                +7 ${phone.homenum}
            </p>
        </div>
        <div class="card-footer text-muted">
            <a href="/edit/${phone.id}">редактировать</a>
        </div>
    </div>
    <#else>
    Записей нет
    </#list>
</div>
</@c.page>